<div class="container">
  <div class="row justify-content-center">
    <h1>Add new ingredients</h1>
    <%= form_for @ingredient do |f| %>
    <%= f.text_field :name %>
    <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
