.btn {
  background-color: #FFB6C1;
  border: 1px solid #FFB6C1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Rubik', sans-serif;
  width:50%;
  &:hover {
    color:#808080;
  }
}
